/* Палітра: */

/* Верхня лінія 
#212121 #2196F3 #757575 #000000 #ECECEC #FFFFFF */

/* Шапка
#FFFFFF #2196F3 #2F303A */

/* Особливості
#212121 #757575 */

/* Чим займаємося 
#212121 */

/* Наша команда
 #212121 #757575 #FFFFFF #F5F4FA  */

/* Підвал
#FFFFFF #FFFFFF60%  #2196F3 #2F303A */

/* Колір лого #000000 */
/* Головний колір тексту  #212121 */
/* Вторинний колір тексту #757575 */
/* Адреса колір контактів  #D9D9D9 */
/* Білий колір #FFFFFF */
/* Акцент #2196F3 */
/* Бекграунд секції #F5F4FA */
/* Бекграунд шапки і футера #2F303A */
/* Колір лайн верхньої лінії #ECECEC */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --adress-text-color: #FFFFFF60%;
  --wite-color: #ffffff;
  --accent-color: #2196f3;
  --prymary-background-color: #f5f4fa;
  --secondary-background-color: #2f303a;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}
ul {
  margin: 0px;
  padding-left: 0px;
}

body {
  color: var(--primary-text-color);
  background-color: var(--wite-color);
  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.section-header {
  font-size: 36px;

  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.special-text,
.comando-text {
  color: var(--secondary-text-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

/* ГОЛОВНА СТОРІНКА*/
/* ХЕДЕР */
.header {
  /* padding-top: 24px;
  padding-bottom: 25px; */
  border-bottom-width: 1px;
  border-bottom-color: #ececec;
  border-bottom-style: solid;
}

.header-nav.container {
  display: flex;
  align-items: center;
}

.site-logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.site-logo-web {
  color: #2196f3;
}

.site-nav {
  margin-left: 93px;
}

.nav-list {
  display: flex;
}

.list.nav-list .item + .item {
  margin-left: 50px;
}

.item.active {
  display: block;
  position: relative;
}

.nav-link {
  display: block;
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  padding-top: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-active {
  color: var(--accent-color);
}
.link-active::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: 0;
}

.list.contacts {
  display: flex;
  margin-left: auto;
}
.list.contacts .item + .item {
  margin-left: 50px;
}

.mailto,
.tel {
  padding-bottom: 32px;
  padding-top: 32px;
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.mailto:hover,
.tel:hover,
.nav-link:focus,
.mailto:focus,
.tel:focus {
  color: var(--accent-color);
}
.envelope {
  margin-right: 10px;
  fill: currentColor;
}
.smartphone {
  margin-right: 10px;
  fill: currentColor;
}
.link.mailto,
.link.tel {
  display: flex;
  align-items: center;
}

/* ГЕРОЙ */
.hero {
  background-color: #2f303a;

  background-image: linear-gradient(
      to right,
      rgba(58, 47, 53, 0.4),
      rgba(58, 47, 53, 0.4)
    ),
    url(../images/hero.jpg);

  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  min-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}

.hero-title {
  color: #ffffff;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;

  margin-bottom: 30px;
}
.button {
  display: inline-block;

  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;

  height: 50px;

  padding: 10px 32px;

  min-width: 216px;
  height: 50px;
  left: 692px;
  top: 430px;
  border-color: var(--accent-color);
  border-radius: 4px;
}

.hero.section {
  padding-top: 200px;
  padding-bottom: 200px;
}

/* МОДАЛЬНЕ ВІКНО */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: var(--wite-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 8px;
  margin-left: 480px;
  padding-top: 4px;
  fill: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);

  cursor: pointer;
}

/* ОСОБЛИВОСТІ */

.hidden-header {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.special-list {
  display: flex;
  justify-content: space-between;
}
.list.special-list .item + .item {
  margin-left: 30px;
}

.special-image {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.spesial-header {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}

.special-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* ЧИМ МИ ЗАЙМАЄМОСЯ */

.no-padding {
  padding-top: 0px;
}

.our-works.section-header {
  margin-bottom: 94px;
}

.works-list {
  display: flex;
}

.item.works {
  position: relative;
}

.list.works-list .item + .item {
  margin-left: 30px;
}

.no-gap {
  display: block;
}

.label {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
}

/* НАША КОМАНДА */

.comando {
  background-color: #f5f4fa;
}

.section-list {
  background-color: var(--wite-color);
  box-shadow: 0px 4px 4px 0px #00000040;
}
.comando-list {
  display: flex;
  justify-content: space-around;
}

.comando.section-header {
  margin-bottom: 50px;
}
.comando-card {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.comando-names {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.comando-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 15px;
}

.social-item {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: var(--wite-color);
  fill: #afb1b8;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list.list .social-link + .social-link {
  margin-left: 10px;
}

.social-item:hover,
.social-item:focus {
  fill: var(--wite-color);
  background-color: var(--accent-color);
}

/* ПОСТІЙНІ КЛІЄНТИ */

.clients.section-header {
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-items {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  width: 170px;
  height: 92px;
  border-color: #afb1b8;
  border-style: solid;
  border-radius: 4px;
  fill: #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-items:hover,
.clients-items:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.list.clients-list .clients-icon + .clients-icon {
  margin-left: 30px;
}

/* ФУТЕР */
.footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.in-footer.container {
  display: flex;
}

.footer .site-logo {
  color: #ffffff;
}
.addres {
  font-style: normal;
}

.addres {
  margin-top: 20px;
}

.list.addres .item + .item {
  margin-top: 9px;
}

.list.addres {
  color: var(--wite-color);
}
.addres-mailto,
.addres-tel {
  color: #d9d9d9;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.addres-mailto:hover,
.addres-tel:hover,
.addres-mailto:focus,
.addres-tel:focus {
  color: var(--accent-color);
}

.footer-social {
  margin-left: 70px;
  margin-top: 12px;
}
.join {
  color: var(--wite-color);
  margin-bottom: 20px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
}

.footer-social-item {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: var(--wite-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-list.list .footer-social-link + .footer-social-link {
  margin-left: 10px;
}

.footer-social-item:hover,
.footer-social-item:focus {
  fill: var(--wite-color);
  background-color: var(--accent-color);
}

/* СТОРІНКА - ПОРТФОЛІО */

/* ФІЛЬТР */

.filter.container {
  display: flex;
  justify-content: center;
}
.filter {
  margin-bottom: 34px;
}
.radio-button {
  display: inline-block;
  padding: 6px 22px;
  margin-right: 8px;
  border-radius: 4px;
  color: #212121;
  background-color: var(--prymary-background-color);
  box-shadow: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.radio-button:hover,
.radio-button:focus {
  color: var(--wite-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px 0px #00000040;
}

/* ПРИКЛАДИ РОБІТ */

.examples.list {
  display: flex;
  flex-wrap: wrap;
}
.flex-element {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.examples-item {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;

  padding: 63px 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--accent-color);
  color: var(--wite-color);

  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-item:hover .overlay,
.examples-item:focus .overlay {
  transform: translateX(0);
}

.examples-item:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.flex-element:nth-child(3n) {
  margin-right: 0%;
}
.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0%;
}
.work-examples {
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.filter-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
.card-border {
  border-right-width: 1px;
  border-right-color: #eeeeee;
  border-right-style: solid;

  border-bottom-width: 1px;
  border-bottom-color: #eeeeee;
  border-bottom-style: solid;

  border-left-width: 1px;
  border-left-color: #eeeeee;
  border-left-style: solid;

  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
}
